{
    "lolzeAutoUP": {
        "botName": ""
    },
    "lolze": {
        "token": "",
        "METHODBUMP": 0,
        "METHODSTICKY": 0,
        "limitSumOfBalace": 0,
        "sendReports": 0,
        "marketURLs": [
            {
                "url": "https://lzt.market/mihoyo/?pmax=5" 
            },
            {
                "url": "https://lzt.market/mihoyo/?pmax=6" 
            }
        ]
    },
    "telegram": {
        "token": "",
        "userIDs": []
    }
}
