{
    "lolze": {
        "clients": [
            {
                "enabled": true,
                "token":"",
                "proxy": {}
            }
        ]
    },
    "telegram": {
        "enabled": false,
        "token": "",
        "userIDs": []
    },
    "modules": {
        "bump": {
            "enabled": false,
            "params":{
                "methodBump": "price_to_up"
            }
        },
        "stick": {
            "enabled": false,
            "params":{
                "methodSticky": "price_to_up"
            } 
        },
        "sendReports":
        {
            "enabled": true,
            "params":{} 
        },
        "autoSell":
        {
            "enabled": false,
            "params": {
                "percent": 10
            }
        },
        "autoBuy": {
            "enabled": false,
            "params":{
                "limitSumOfBalace": 0,
                "marketURLs": [
                    {
                        "url": "https://lzt.market/mihoyo/?pmax=5" 
                    },
                    {
                        "url": "https://lzt.market/mihoyo/?pmax=6" 
                    }
                ]
            }
        }
    }
}