{
    "lolze": {
        "clients": [
            {
                "enabled": true,
                "token":"",
                "proxy": {}
            }
        ]
    },
    "telegram": {
        "enabled": false,
        "logLevel": ["info", "error"],
        "token": "",
        "userIDs": []
    },
    "modules": {
        "bump": {
            "enabled": false,
            "params":{
                "methodBump": "price_to_up"
            }
        },
        "stick": {
            "enabled": false,
            "params":{
                "methodSticky": "price_to_up"
            } 
        },
        "sendReports":
        {
            "enabled": true,
            "params":{} 
        },
        "autoSell":
        {
            "enabled": false,
            "params": {
                "percent": 20
            }
        },
        "autoBuy": {
            "enabled": false,
            "params":{
                "limitSumOfBalace": 0,
                "marketURLs": [
                    {
                        "url": "https://lzt.market/mihoyo/?pmax=5",
                        "autoSellOptions": {
                            "enabled": true,
                            "percent": 10,
                            "template": "valorant.template"
                        }
                    },
                    {
                        "url": "https://lzt.market/mihoyo/?pmax=6",
                        "autoSellOptions": {
                            "enabled": true,
                            "percent": 10,
                            "template": "valorant.template"
                        }
                    }
                ]
            }
        }
    }
}